
.container .layout{
    display: grid;
    height: 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 30PX;
    margin-bottom: 50px;
}
.container .layout .left{
    grid-column: 1/2 ;
    grid-row: 1/span 8;
    background-color: deepskyblue;
    border-radius: 5px;
    background-image: url(../images/Burger\ Image.jpg);
    background-size: cover;
    background-position: right;
    padding: 15px;
} 
.container .layout .right-top{
    grid-column:2/3;
    grid-row:1/span 4;
    background-color: tomato;
    border-radius: 5px;
    background-image: url(../images/Image1.jpg);
    background-size: cover;
    background-position: right;
    padding: 15px;
}
.container .layout .right-bottom{
    grid-column:2/3;
    grid-row:5/span 4;
    background-color: yellowgreen;
    border-radius: 5px;
    background-image: url(../images/Image2.jpg);
    background-size: cover;
    background-position: right;
    padding: 15px;
}
.container .layout .layout-p{
    color: white;
    margin: 0;
    font-size: 1.5em;
}
.container .layout .layout-h{
    color: white;
    margin: 0;
    font-weight: 200;
    font-size: 39px;

}



@media (max-width : 850px){
    
.container .layout{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
}

.container .layout .left{
    grid-column: 1/2 ;
    grid-row: 1/span 1;
    border-radius: 5px;
    padding: 15px;
}
.container .layout .right-top{
    grid-column:1/2;
    grid-row:2/span 1;
    border-radius: 5px;
    padding: 15px;
}
.container .layout .right-bottom{
    grid-column:1/2;
    grid-row:3/span 1;
    border-radius: 5px;
    padding: 15px;
}
}

.container .section-text{
    padding: 0 100px 50px;
    text-align: center;
}

.container .section-text .text-btn{
    padding: 10px 20px;
    border: none;
    background-color: #ffc045;
    font-size: 1.5em;

}
.container .section-text .text-h{
    font-family:'Alfa Slab One';
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.container .section-text .text-p{
    font-family: 'Montserrat';
    color:#908782 ;
}
@media (max-width:767px) {
.container .section-text{
    padding: 0 25px 50px;
    text-align: center;
}
}