/* Popular styles */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue';
    color: #3c2513;
}
.container {
    background-color: white;
    padding: 50px 50px;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
/* Popular Styles End */
